/*
!/.gitignore
!/src
!/tests
!/docs
!/CMakeLists.txt
!/README.md
!.clang-format
!resources/
!vcpkg.json
!CMakePresets.json
!Doxyfile
!LICENSE
docs/doxygen
tests/res/*
!tests/res/build/
tests/res/build/*
!tests/res/build/compile_commands.json
!tests/res/src
!tests/res/CMakeLists.txt
!tests/res/testPreCompileLexer.cc
!cmake/
!CONTRIBUTING.md
!.github/